.button-style{
    margin-top: 25px;
    color:black;
    background-color: #bf5e2e;
    padding: 10px;
    width: 50%;
    height: auto;
    cursor: pointer;
    text-align: center;
    position: relative;
    left: 25%;
}

